.hero-image {
	padding: 50px;
	background-image: url("../friends.jpg");
	background-repeat: no-repeat;
	background-size: 50%;
	height: 100vh;
}

.mb-3 {
	background-color: white;
	width: 50%;
}

.chat-body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

/* Tiana's additions - Next 4 blocks */
.img-btn-container{
	position: relative;
	width: 80%;
}
.img-btn-container img{
	width: auto;
	height: 100vh;
}
.img-btn-container button{
	position: absolute;
	top: 3%;
  	left: 3%;
}
.img-btn-container h2{
	position: absolute;
	top: 3%;
	left: 13%;
}

#message-container {
	width: 80%;
	max-width: 1200px;
}

#message-container div {
	background-color: #ccc;
	padding: 5px;
}

#message-container div:nth-child(2n) {
	background-color: #fff;
}

#send-container {
	position: fixed;
	padding-bottom: 30px;
	bottom: 0;
	background-color: white;
	max-width: 1200px;
	width: 80%;
	display: flex;
}

#message-input {
	flex-grow: 1;
}
